section.about_us.container
    h4.title.title--red_underline О нас
    p.about_us__content
        | Молодая, стремительно развивающаяся студия дизайна
        |
        span.main__words Design United
        |
        |была создана группой студентов мечтающих о
        | своем деле в любимой ими сфере,  основана компания в 2017 году. Мы помогли не малому количеству предпринимателей,
        | а в частности и физическим лицам оформить и упаковать их бизнес в красивую оболочку.
