footer.footer
    div.footer__wrap.container.row
        div.footer__logo.logo.col-5
            img.logo__img(src='static/img/footer/footer_logo.png')
            div.logo__text_wrap
                h1.footer__logo_title.logo__title DESIGN UNITED
                p.footer__logo_description.logo__description Web product studio
        ul.list.col-4
            li.list__item.footer_item
                img.list__img(src='static/img/contact/adress.png')
                p.list__content.footer__contact 49102, Днепр, ул. Волынская, д.9, 3-й подъезд
            li.list__item.footer_item
                img.list__img(src='static/img/contact/phone.png')
                p.list__content.footer__contact +38 (066) 777-04-90
            li.list__item.footer_item
                img.list__img(src='static/img/contact/mail.png')
                p.list__content.footer__contact design.united.studio@gmail.com
        ul.list.col-3
            li.list__item.footer_item
                img.list__img(src='static/img/contact/telegram.png')
                p.list__content.footer__contact @AlexeyMarshall
            li.list__item.footer_item
                img.list__img(src='static/img/contact/clock.png')
                p.list__content.footer__contact График работы: 8:00 - 20:00, Пн-Пт
            li
                ul.social_networks
                    a(href='')
                        img(src='static/img/footer/vk.png')
                    a(href='')
                        img(src='static/img/footer/telegram.png')
                    a(href='')
                        img(src='static/img/footer/behance.png')
                    a(href='')
                        img(src='static/img/footer/instagram.png')
    p.footer__copy Web design united © 2018