header.header.container
    div.logo
        img.logo__img(src='static/img/header/Design United Logo2.png')
        div.logo__text_wrap
            h1.logo__title DESIGN UNITED
            p.logo__description Web product studio
    div.header__contact
        div.question
            img.question__img(src='static/img/header/messages.png')
            p.question__content Задать вопрос
        p.header__phone +38 (066) 777-04-90