section.intro
    div.intro__wrap.container
        h3.intro__DesignForYou_title Дизайн - решение для вас
        h2.intro__suggestion_title Улучшите свой бизнес
        ul.intro__anchor_links.anchor_links
            li.anchor_links__item
                a.anchor_links__link
            li.anchor_links__item
                a.anchor_links__link
            li.anchor_links__item
                a.anchor_links__link
            li.anchor_links__item
                a.anchor_links__link