section.portfolio.container
    h4.title.title--red_underline Примеры работ
    div.portfolio__content.project.row
        div.project__work.col-8
            img.project__img(src='static/img/portfolio/project1.png')
            div.slider_btn
                div.slider_btn__wrap
                    img(src='static/img/portfolio/slider_btn.png').slider__btn.slider_btn-left
                    p.slider_btn__text Предыдущий проект
                div.slider_btn__wrap
                    p.slider_btn__text Следующий проект
                    img(src='static/img/portfolio/slider_btn.png').slider__btn.slider_btn-right
        article.project__content.col-4
            h5.project__task Поставленная задача:
            h6.project__problem Ре-дизайн корпоративного сайта.
            p.project__description
                |Хочу сделать редизайн своего сайта
                |
                a.link(href='') veloprokatik.com
                |
                | по теме велопроката.
                | Хочу сделать его более привлекательным, что бы увеличить кол-во продаж своих услуг,
                | сделайте темных тонах, предпочитамые цвета: зеленный.
            h5.project__task Решение задачи:
            p.project__description
                | Был выполнен полный редизайн сайта, начиная с прототипирования, раставляя все элементы так, что бы заинтересовать
                |будущих клиентов, зазывать к действию, что увеличело количество онлайн продаж услуг вашего бизнеса.
                |Так же придерживались предпочтиаемой вами цветовой схеме. Активно сотрудничали с заказчиком, обсуждали все малейшие...
            button.portfolio__button.button
                a.button__text ПОДРОБНЕЕ