section.price_list.container
    h4.title.title--red_underline Прайс лист
    +price_list_item('Дизайн Landing page / сайтов визиток:',
    'Содание дизайна / ре-дизайна 1-го блока (без прототипа)',
    'Модальное окно (вспывающее окно)',
    'Прототип сайта')

    +price_list_item('Дизайн корпоративных сайтов / интернет-магазинов:',
    'Содание дизайна / ре-дизайна главной страницы (без прототипа)',
    'Создание дизайна / ре-дизайна внутренних страниц (без прототипа)',
    'Создание дизайна / ре-дизайна дублирующихся внутренних страниц (страницы которые повторяются структурой)',
    'Модальное окно (вспывающее окно)',
    'Прототип сайта')

    +price_list_item('Дизайн e-mail рассылок:',
    'Содание дизайна / ре-дизайна письма (без прототипа)',
     'Создание дизайна / ре-дизайна каждого следующего письма (шапка и подвал одинаковые)',
     'Прототип письма'
    )


    +price_list_item('Графический дизайн:',
    'Фирменный стиль одна позиция товара (ручка, визитка, кружка ...)',
    'Одна позиция товара по готовому фирменному стилю',
    'Дизайн рекламных баннеров (web)',
    'Дизайн рекламных баннеров (наружная реклама)',
    'Визитки (одна сторона)',
    'Флаеры (одна сторона)',
    'Оформление соц.сетей ( ВКонтакте, Facebook, Instagram и прочее...)',
    'Другие виды услуг графического дизайна'
    )

    +price_list_item('Услуги фотографа:',
    'Фотосьемка за 1ч. (Харьков, Днепр)',
    'Фотосьемка за 1ч. (Выезд, зависит от растояния)',
    'Ретушь фото за 1 фото')

    +price_list_item('Услуги программиста:',
    'В разработке')

