section.team.container
    h4.title.title--red_underline Наша команда
    ul.team__list.employee.row
        +employee('alexey','Алексей Зотов', 'СЕО, основатель, руководитель проектов. ' +
        'Знает как найти общий язык с клиентом. так и с командой')
        +employee('anatoliy','Анатолий Головко', 'Менеджер, маркетолог, основатель. Покажет и расскажет вам как ' +
        'получить результат с дизайна.')
        +employee('olga','Ольга Лесовая','Дизайнер, фотограф-ретушер.' +
        'Сделает качественные фото вашего продукта, или вас.')
        +vacation('vacation','Открыта вакансия','Требуется опытный программист.' +
        'Оставляйте свое резюме нажав на иконку мейл или телеграм у СЕО.')


